.section-layout {
  background: var(--color-fondo);
  display: flex;
  min-height: calc(100vh - 4.5rem);
}

.section-content {
  flex: 1;
}

@media (max-width: 768px) {
  .section-layout {
    flex-direction: column;
  }
}
